flake8==3.7.9
yapf==0.29.0
isort==4.3.21
yacs
gdown
tb-nightly
future
scipy
scikit-learn
tqdm
ftfy
regex
wilds==1.2.2
tabulate
scikit-survival
appdirs
click==7.1.2
mypy-extensions==0.4.3
pathspec==0.8.1
toml==0.10.1
tornado==6.2
timm==0.6.12
h5py==3.8.0
einops==0.6.0 
POT==0.9.3
openslide-python
# flash-attn==1.0.4
